/* Title: infobar.css
 * Description: Base styles and 'skins' for jQuery infobar plugin
 *
 * Author: Michael Caldwell - mcaldwell@austin.utexas.edu
 */
 
/* base infobar styles - probably shouldn't change these 
 * unless you know what you're doing 
 */
	#infobar {
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		z-index: 10000;
		text-align: center;
	}
	#infobar ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#infobar li {
		display: inline;
		margin-right: 1em;
	}
	#infobar .infobar_value {
		display: inline-block;
	}

/* default 'skin' - modify with care */
	.infobar {
		background: #333;
		background: rgba(0,0,0,0.8);
		color: #aaa;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		border-bottom: 4px solid #111;
		padding: 5px 0;
		height: 33px;
		line-height: 33px;
		font: bold 11px/1 Verdana, Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		/* ie7 hacks */
		*padding: 5px 0 0 0;
		*height: 24px; /* height - padding - border | 33 - 5 - 4 = 24 */
	}
	.infobar_label { }
	.infobar_value {
		background: #222;
		background: rgba(0,0,0,0.2);
		color: #fff;
		padding: 4px 8px;
		border-radius: 2em;
		margin-left: 0.25em;
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	}

/* Wrapper top margin should match infobar's height */
	#infobar_wrapper { /* does not play well with djDebugBar */
		position: relative; 
		margin-top: 33px;
	}
	
/* color skins - '.ib_' prefix helps prevent collisions */
	[class*="ib_"] .infobar_label {
		color: #333;
		text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	}

/* UT Direct customizations/fixes */

	#header { /* UTDirect-specific setting to deal with djDebugBar issue */
		 margin-top: 33px;
	}
	#navbar_ut_direct_logo {
		top: 156px;
	}
	.env_switch .infobar_value:hover {
		cursor: pointer;
		background: #111;
		background: rgba(0,0,0,0.4);

	}

	/* ut direct 'environment' skins */
	.ib_test, .ib_pink {
		background: #e6328d; /* pink */
		background: rgba(230,50,141,0.85);
		border-bottom-color: #DB3378;
	}
	.ib_qual, .ib_green {
		background: #3c0; /* green */
		background: rgba(51,204,0,0.85);
		border-bottom-color: #5cda32;
	}
	.ib_prod, .ib_blue {
		background: #049cdb;
		background: rgba(4,156,219,0.85);
		border-bottom-color: #0490CA;
	}

	/* other example skins */
	.ib_teal {
		background-color: #00aed7; /* teal */
		background-color: rgba(0,174,215,0.85);
		border-bottom-color: #00a4cc;
	}
	.ib_orange {
		background-color: #f89406;
		background-color: rgba(248,148,6,0.85);
		border-bottom-color:#E58806 ;
	}
	.ib_yellow {
		background-color: #f89406;
		background-color: rgba(255,196,13,0.85);
		border-bottom-color: #EBB50C;
	}

/* inforbar_inline - sample styles for 
 * in-page elements
 */
 
	.infobar_inline {
		margin: 0; padding: 6px 0; 
		list-style: none;
		overflow: hidden;
		font: bold 10px/1 Verdana, Geneva, sans-serif;
	}
	.infobar_inline li {
		float: left;
		margin-right: 1em;
		margin-bottom: 1.5em;
	}
	.infobar_inline .infobar_value {
		background: #666;
	}

@media print {
	#infobar { display: none;}

	#infobar_wrapper { 
		position: relative;
		margin-top: 0;
	}
}

/* Helper class from h5bp - used to hide inline elements */
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

