/* Nice for color palettes: https://color.adobe.com/create/color-wheel */
/* UT brand colors: https://brand.utexas.edu/identity/color/ */
/* Useful for getting tints and shades of brand colors: https://maketintsandshades.com/ */

/* TEMPORARILY HIDE COURSEWORK */
/* override some UTD stuff */
#pgTitle, #utilities {
    position: absolute;
    left: -9999em;
}

/* SERVICE CONTENT STYLES */
#degree_audit {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.65);
		max-width: 1100px;
    padding: 16px 30px;
    margin-bottom: 40px;
    line-height: 1.5em;
}

/* DEGREE AUDIT HEADER */
#audit_meta_info {
    float: left;
    padding-bottom: 9px;
    color: #666;
/* nrfkh - 9/2012: [degaudt-609] */
/*    font-size: 120%;*/
    font-size: 150%;
    font-weight: bold;
/* end nrfkh - 9/2012: [degaudt-609] */
}
#audit_meta_info .student_name {
/* nrfkh - 9/2012: [degaudt-545] */
/*    color: #333;*/
	color: black;
    font-size: 150%;
/* end nrfkh - 9/2012: [degaudt-545] */
}

/* nrfkh - 9/2012: [degaudt-609] */
#audit_meta_info .student_eid {
	color: black;
}
/* end nrfkh - 9/2012: [degaudt-609] */

#audit_submission_info {
    float: right;
    color: #999;
}
#audit_submission_info strong {
    color: #333;
    font-weight: normal;
}

#audit_header {
    clear: both;
    border-top: 1px solid #ddd;
    clear: left;
    padding: 20px 0 0;
    overflow: hidden;
}

#degree_info {
    float: left;
}
#degree_info span {
    display: block;
    line-height: normal;
}
.major {
    font-size: 250%;
    text-shadow: 1px 1px 1px #999;
    letter-spacing: -1px;
    margin-bottom: 8px;
}
.minor, .expires {
    font-size: 120%;
    color: #999;
}
.minor strong, .expires strong {
    color: #333;
    font-weight: normal;
}

/* nrhk - 11/2012: [degaudt-675] */
#reqs_satisfied_note {
    float: left;
    clear: both;
    padding: .5em;
    margin: .5em;
    border: 1px solid #ccc;
    font-style: italic;
    width: 80%;
}

#near_graduation_note {
    float: left;
    clear: both;
    padding: .5em;
    margin: .5em;
    border: 1px solid #ccc;
    font-style: italic;
    width: 75%;
}

#reqs_satisfied {
    padding-top: .5em;
}

#reqs_satisfied_value {
     font-weight: bold;
}

#rerun_audit_link{
	float: right;
	padding-top: .5em;
/*	width: 25%; */
}
#school_major_info {
/*    float: right; */
    padding-top: .5em;
}
/* end nrhk - 11/2012: [degaudt-675] */

#core_complete_info{
    float: right;
    clear: both;
    padding: .5em;
    margin: .5em;
    border: 1px solid #ccc;
    font-style: italic;
    width: 15%;
}

/* nrfkh - 9/2012: [degaudt-609] */
.included-courses-section {
	float: left;
}

.icon-legend {
	float: left;
}

.icon_key {
	margin-bottom: -0.2em;
}

.icon_key dt, .icon_key dd {
	display: inline-block;
/*	line-height: 24px;
	height: 24px;*/
}

.icon_key dt img {
	vertical-align: middle;
}

.icon_key dd {
	margin-left: 0.25em;
	margin-right: 1.0em;
}
/* end nrfkh - 9/2012: [degaudt-609] */

#catalog_info {
	width: 20%;
    float: right;
    text-align: right;
    margin: 5px;
}
#catalog_info span {
    display: block;
}
.catalog {
    font-size: 170%;
    text-shadow: 1px 1px 1px #999;
    margin-bottom: 8px;
}
#resubmit {
    padding-top: 1.6em;
}

/* PROGRESS SUMMARY */
#progress_summary {
    /*float: left;*/
    width: 60%;
    padding: 3px 0 12px;
    position: relative;
}
#progress_summary, #progress_summary * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#progress_summary h3 {
    color: #666;
    font-weight: normal;
    font-size: 14px;
}
.progress_widget {
    background-color: #eee;
    border-radius: 6px;
    float: left;
    width: 100%;
    clear: both;
    position: relative;
    /*height: 48px;*/
}
.progress_bar {
    float: left;
    height: 40px;  /* Can be anything */
    position: relative;
    background: #fff;
    padding: 0;
    border: 1px solid #ccc;
    width: 70%;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    margin: 4px;
}
.time_marker {
    position: absolute;
    z-index: 100;
    top: -6px;
    margin-left: -8px;
}
[class^="yr_"] {
    display: block;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 1px solid #ddd;
    text-align: center;
    line-height: 40px; /* match the height value for .progress_bar */
    font-style: italic;
    color: #999;
}
.yr_2of4 { left: 25%; }
.yr_3of4 { left: 50%; }
.yr_4of4 { left: 75%; }

[class$="of5"] { width: 20%; }
.yr_2of5 { left: 20%; }
.yr_3of5 { left: 40%; }
.yr_4of5 { left: 60%; }
.yr_5of5 { left: 80%; }

[class$="of6"] { width: 16.6666%; }
.yr_2of6 { left: 16.6666%; }
.yr_3of6 { left: 33.3333%; }
.yr_4of6 { left: 49.9998%; }
.yr_5of6 { left: 66.6664%; }
.yr_6of6 { left: 83.333%; }

.progress_bar > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 50;
}
.progress_bar > span > img {
    height: 100%;
    width: 100%;
}

.progress_number {
    display: inline;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
    line-height: 48px;
    margin-left: 4px;
    letter-spacing: -1px;
}

.progress_number sup {
    font-size: 15px;
}

.progress_indicator {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    width: 52px;
    line-height: 48px;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
    border-left: 4px solid rgba(0,0,0,0.1);
}
.progress_indicator > img { display: inline-block; }
.pace_y { background-color: #77B000; }
.pace_n { background-color: #FFD71A; }

.progress_disclaimer {
    padding-top: 6px;
    clear: both;
    font-size: 12px;
    color: #777;
    font-style: italic;
}

.modal_container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 40px;
    min-width: 450px;
    display: none;
}
.modal_content {
    font-size: 1.2em;
}

/* AUDIT TABS */

#audit_tabs {
    clear: both;
}

.tabs {
    list-style: none;
    border-bottom: 5px solid #d8d8d8;
    margin: 0 0 15px;
    overflow: hidden;
    clear: both;
    padding: 0;
}
.tabs li {
    float: left;
}
.tabs a {
    display: block;
    color: #777;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    padding: 4px 12px 4px 30px;
    background: #f5f5f5 url(images/tab.icons.png) no-repeat 0 center;
    margin-left: 2px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
}
.tabs a.active, .tabs a:hover {
    background-color: #d8d8d8;
    color: #000;
    box-shadow: none;
}
a.cat_list { background-position: 0px center; }
a.chron_list { background-position: -600px center; }
a.remaining_reqs_list { background-position: -1200px center; }
.cat_list.active, .cat_list:hover { background-position: -300px center; }
.chron_list.active, .chron_list:hover { background-position: -900px center; }
.remaining_reqs_list.active, .remaining_reqs_list:hover { background-position: -1500px center; }


/* INCLUDED COURSEWORK LIST */
#crswk_included { 
    clear: both;
    overflow: hidden; 
}
#crswk_included div, #crswk_included span { 
    float: left;
    margin-right: 1em;
}

#degree_audit table {
    border-collapse: collapse;
}

#show_hide_all_cat {
    width: 100%;
    padding-bottom: 2em;
    clear: both;
}

#show_hide_all_cat {
    width: 100%;
    padding-bottom: 2em;
    clear: both;
}

#show_hide_all_cron {
    width: 100%;
    padding-bottom: 2em;
    clear: both;
}

#show_hide_all_rr {
    width: 100%;
    padding-bottom: 2em;
    clear: both;
}

.show_all, .hide_all {
    float: right;
    width: 12%;
}

table.results {
    width: 100%;
    margin-top: 1em;
    clear: both;
}

.results th {
    background: #333;
    color: #999;
    text-align: left;
    padding: 1px 8px 2px;
    font-weight: normal;
}
.results th.section_title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.005em;
    padding: 6px 8px 0 8px;
}
.results th.details {
    text-align: right;
}
.results td {
    border-bottom: 1px dotted #ccc;
    padding: 8px;
}
.results tr.open td {
    border-bottom: none;
} 
.results tr.open + tr td {
    border-bottom: 2px solid #ddd;
}

.results tr.fulfilled td { background-color: #f2ffd7; }
.results tr.partial td { background-color: #ebeff1; }
.results.restrictions td { background: #fefad8; }
.results tr.core_req_lacking_hours td {background: #f2ffd7;}
.results tr.unused_courses td { background: #fef6eb; }

td.course_preview {
    font-weight: bold;
}

tr.alias {
    display: none;
}

/* DETAILS */

/* section_details for show/hide of whole section */
a.section_details {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999em;
    background: url(images/show.hide.icons.png) no-repeat;
    float: right;
    outline: none;
}
a.section_details:hover { background-position: -30px 0; }
.open a.section_details { background-position: -60px 0; }
.open a.section_details:hover { background-position: -90px 0; }

/* details for show/hide of coursework, etc */
a.details {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999em;
    background: url(images/show.hide.icons.png) no-repeat;
    float: right;
    outline: none;
}
a.details:hover { background-position: -30px 0; }
.open a.details { background-position: -60px 0; }
.open a.details:hover { background-position: -90px 0; }

table.results .details table {
    width: auto;
    margin-bottom: 10px;
}
.results .details table th {
    background: transparent;
    color: #999;
    border-bottom: 2px solid #ddd;
    padding: 2px;
}
.results .details table tr td {
    border-bottom: 1px solid #eee;
    padding: 2px 4px;;
}
td.course_num {
    font-weight: bold;
    white-space: nowrap;
}
td.current {
    font-weight: bold;
    color:#CC5500;
    white-space: nowrap;
}td.future {
    font-weight: bold;
    color:green;
    white-space: nowrap;
}td.planned {
    font-weight: bold;
    color:blue;
    white-space: nowrap;
}

td.ret_dup {
    white-space: nowrap;
    font-style: italic;
}

td.course_num_ret_dup {
    font-weight: bold;
    white-space: nowrap;
    font-style: italic;
}

/* OVERRIDE */
.override {
    display: block;
    position: relative;
    overflow: hidden;
}
.override_notice {
    float: left;
    border-radius: 2em;
    background: #999;
    color: #fff;
    font-weight: bold;
    padding: 0 8px;
    font-size: 90%;
    cursor: pointer;
    z-index: 10;
}
.override_detail {
    position: absolute;
    float: left;
    left: -9999em;
    color: #333;
    margin-left: 0.5em;
}
.override:hover .override_detail {
    position: static;
}

@media print {
    * {
        text-shadow: none !important;
    }
	body.minWidth {
		min-width: none;
		width: 100%;
	}
	#content {
		width: 100%;
	}
	#service_content {
		margin-right: 0;
	}
	#degree_audit {
		max-width: none;
		width: 95%;
		box-shadow: none;
	}
    /* Attempt to fix truncated long tables on first page for firefox 20.0.x
     * Almost certainly a new/resurrected bug - search for 'firefox truncated table' 
     * reveals a long history of issues with tables the exceed the first printed page.
     * This solves the problem, but creates unneccessary pages and should be removed 
     * if the firefox bug is fixed. 
     * uses body:not(:-moz-handler-blocked) selector/hack to target ff only 
     * ref: http://paulirish.com/2009/browser-specific-css-hacks/
     */
    body:not(:-moz-handler-blocked) #degree_audit table.results {
        page-break-inside: avoid;
    }


	.results th.section_title {
		color: #222;
	}
	.results thead {
		border-bottom: 1px solid #999;
	}

}


/* nrfkh - 1/2013: [degaudt-734] */
a.alternate-color-link {
  color: #99CCFF;
}
/* end nrfkh - 1/2013: [degaudt-734] */
.cat_expired {
    color: red;
    font-size: 150%;
}

.an-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.an-modal-content {
    background-color: #fff;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 450px;
    font-size:1.2em;
}

.close-x {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-x:hover,
.close-x:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}